# Postgres credentials REQUIRED
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/db

# Master User
MASTER_PASSWORD=senha_usuario